<h4 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
    Say something
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div id="message-container" class="ui feed" data-turbo="false">
          <% @messages.each do |msg| %>
            <div class="event">
              <div class="content">
                <div class="summary">
                <p><a><%= msg.user.username %>:</a> <%= msg.message %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :message, placeholder: "Send a message...", required: true %>
              <button type="submit" class="ui button">
                <i class=" blue paper plane icon"></i>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>